#### 반복문 for

> for 변수 in 나열가능한자료 :

리스트 - []안에 값을 나열해 놓은 형식입니다.

In [1]:
sum1 = 0 # 합계 누적할 변수
for i in range(11) :
    
    sum1 += i
    
print("리스트라는 요소안에 값의 합: ", sum1)

리스트라는 요소안에 값의 합:  55

In [3]:
sum1 = 0
for i in [1, 2, 3] :
    sum1 += i
print(sum1)

6

#### range함수

- 리스트를 생성할 때 일일히 하나씩 다 적는건 한계가 있습니다.
- range(시작값, 끝값, 점핑값) 을 통해서 리스트를 좀 더 쉽게 생성할 수 있습니다.

In [11]:
list(range(1,11)) # range 함수는 시작값은 포함이고 끝값은 미만이다. 그리고 점핑값은 생략이 가능하다

list1 = list(range(1,11)) # 변수에도 저장해서 사용가능

list2 = list(range(2, 11, 2)) # [2, 4, 6, 8, 10]

list3 = list(range(1, 11, 1)) # == list( 1, 11)

In [14]:
for i in range(1, 11) :
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [19]:
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# 7 ~ 200까지 정수 중에서 점핑값을 7로 해서 7의 배수를 가로로 출력

for i in range(7, 201, 7) :
    print(i,end = " ")



# 1~ 9876까지 정수 중에서 13의 배수의 개수를 구하세요.

# if사용
cnt = 0
for i in range(1, 9877) :
        if i % 13 == 0 :
            cnt += 1

print(cnt)   

# 점핑값 사용
cnt1 = 0 
for i in range(13, 9877, 13) :
    cnt1 += 1
        
    
print(cnt1)

# 구구단 단수를 입력받고 for문을 이용해서 구구단을 출력
s1 = int(input("단계를 입력하세요> "))
for i in range(1, 10) :
    print(f"{s1} x {i} = {s1*i}")

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 759
759
단계를 입력하세요> 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

#### 중처반복

- 외부 반복문 안에 내부에서 반복문이 존재하는 형태

In [49]:
for i in range(1, 10) : # 1~ 9
    for j in range(1, 6) : # 1 ~ 5
         print(i, '-', j)

1 - 1
1 - 2
1 - 3
1 - 4
1 - 5
2 - 1
2 - 2
2 - 3
2 - 4
2 - 5
3 - 1
3 - 2
3 - 3
3 - 4
3 - 5
4 - 1
4 - 2
4 - 3
4 - 4
4 - 5
5 - 1
5 - 2
5 - 3
5 - 4
5 - 5
6 - 1
6 - 2
6 - 3
6 - 4
6 - 5
7 - 1
7 - 2
7 - 3
7 - 4
7 - 5
8 - 1
8 - 2
8 - 3
8 - 4
8 - 5
9 - 1
9 - 2
9 - 3
9 - 4
9 - 5

In [63]:
# 실습 

for i in range(2,9) :
    print(f"구구단 {i}단")
    
    for j in range(1,10) :
        print(f"{i} x {j} = {i*j}")
    print()

구구단 2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

구구단 3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

구구단 4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

구구단 5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

구구단 6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

구구단 7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

구구단 8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [93]:
for i in range(1,6) :
    for j in range(1,i + 1) :
        print("*", end="")
    print()
    
star = 6


print("-" * 40)



for i in range (1,6) :
    for j in range(1 , star - i + 1):
        print("*", end ='')
    print()

*
**
***
****
*****
----------------------------------------
*****
****
***
**
*

In [113]:
for i in range(1, 6) :
    for j in range (1, 6 - i + 1) :
        print(" ", end = "")
    
    for k in range (1, i + 2) :
        print("*", end = "")
    print()

     **
    ***
   ****
  *****
 ******